body {
  background: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
}

h1 {
  color: navy;
  text-align: center;
}

.about {
  background: #00b3d1;
  padding: 10px;
  border-radius: 10px;
}
/* --- Project Card Formatting (Required for PM4) --- */
.project img {
  width: 300px;
  height: 300px;
  margin: 10px auto;
  border: 2px solid rgb(126, 14, 201); /* you can change the color if you want */
  display: block;
}

.project p {
  text-align: center;
  margin: 15px;
}

a {
  text-decoration: none;
  color: purple;
}
.project p {
  font-size: 20px;
  line-height: 1.5;
}
